footer{
    background:$colorPrimary ;
    width:100%;
    height:50px ;
    font-family:$fontSecondary;
    color:$colorThird;
    font-size:1em;
    
    

}
p{
    text-align: center;
    padding-top:10px ;
}