@media(min-width:570px)and(max-width:800px){
    .prev-left{
        margin-left:280px;
        
    }
    .card{
        text-align: center;
        margin-left:280px ;

        
    }
    fieldset{
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:1300px){
    .card{
        
        margin-left:5.4rem;
    
    }

    .prev-left{
        margin-left:39rem ;
    }
}